<header class="header-main">
  <div class="header-main-menu header-logo">
    <a href="index.html">
      <img src="/assets/images/logo.png" alt="Logo">
    </a>
  </div>
  <div class="header-main-menu header-menu">
    <ul class="nav">
      <li><i class="fas fa-bars fa-2x menu-logo"></i>
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT US</a></li>
          <li><a href="">SERVICES</a></li>
          <li><a href="">PORTFOLIO </a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
<main>
  <section class="main-title">
    <div class="header-content">
      <h2>
        Minimalistic
        <br>
        Architecture
        <br>
        and more
      </h2>
      <a href="" class="site-btn sb-ligth">
        See Project
      </a>
    </div>
  </section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</main>
<footer></footer>
