<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="main-title">
        <h2>
            Services<span>.</span>
        </h2>
    </section>

    <main>
        <section>            
            <section >
                <div>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active carousel-section" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="carousel-section" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="carousel-section" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../../assets/images/service/1.jpg" class="carousel-images" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/images/service/2.jpg" class="carousel-images" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/images/service/3.jpg" class="carousel-images" alt="...">
                          </div>
                        </div>
                    </div>
                </div>
                <section class="service-text">
                    <h1 class="service-text-h">We offer top quality project
                    <span class="bg-green">services</span>
                    </h1>
    
                    <h2 class="service-text-h">01.Super-fast support.</h2>
    
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit totam ea consequatur non cupiditate aspernatur aperiam ipsam autem perferendis quidem quia et error voluptatum, debitis cumque animi, laboriosam harum dignissimos!
                    </p>
    
                    <ol>
                        <li class="service-text-h">02.Detailed documentation.</li>
                        <li class="service-text-h">03.Clean code.</li>
                        <li class="service-text-h">04.Great themes.</li>
                    </ol>
                </section>
            </section>
            

            <section class="section-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 card-div">
                        <div class="solid-service-box">
                            <h2 class="card-h2">01.</h2>
                            <h3 class="card-h3">The idea</h3>
                            <p class="card-p">
                                Fusce commodo tincidunt convallis. 
                                <br>
                                Nunc at purus vitae nisl sagittis grav ida ut sit amet diam.
                            </p>
                            <a href="#" class="card-a">READ MORE</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 card-div">
                        <div class="solid-service-box">
                            <h2 class="card-h2">02.</h2>
                            <h3 class="card-h3">Behind the work</h3>
                            <p class="card-p">
                                Fusce commodo tincidunt convallis. 
                                <br>
                                Nunc at purus vitae nisl sagittis grav ida ut sit amet diam.
                            </p>
                            <a href="#" class="card-a">READ MORE</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 card-div">
                        <div class="solid-service-box">
                            <h2 class="card-h2">03.</h2>
                            <h3 class="card-h3">The Success</h3>
                            <p class="card-p">
                                Fusce commodo tincidunt convallis. 
                                <br>
                                Nunc at purus vitae nisl sagittis grav ida ut sit amet diam.
                            </p>
                            <a href="#" class="card-a">READ MORE</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        
        <section class="section-4">
            <app-services></app-services>
        </section>

        <section class="section-5">
            <div class="promo-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 promo-text">
                            <h1 class="promo-h1">
                                In need of a 
                                <span class="bg-green-black">fabulouse</span>
                                home?
                            </h1>
                            <p class="promo-p">
                                Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus. Pellentesque sed accumsan risus.
                            </p>
                        </div>
                        <div class="col-lg-3 text-lg-right">
                            <a href="#" class="site-btn sb-light mt-4 promo-a">
                                Get in Touch
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </main>
</body>
</html>